<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectOrakgarak</display-name>
  
<!--   <error-page>
  	<error-code>404</error-code>
  	<location>./error.jsp</location>
  </error-page>
  
  <error-page>
  <error-code>500</error-code>
  <location>./error.jsp</location>
  </error-page>
  
   <error-page>
  <error-code>400</error-code>
  <location>./error.jsp</location>
  </error-page>
  
  <error-page>
  <exception-type>java.lang.Throwable</exception-type>
  <location>./error.jsp</location>
  </error-page>
  
   -->
<filter>
  <filter-name>encodingFilter</filter-name> 
  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class> 
<init-param>
  <param-name>encoding</param-name> 
  <param-value>UTF-8</param-value> 
  </init-param>
</filter>
<filter-mapping>
  <filter-name>encodingFilter</filter-name> 
  <url-pattern>*.do</url-pattern> 
  </filter-mapping>
  

<!-- 로그인 필터 -->
<!-- <filter>
    <filter-name>SessionFilter</filter-name>
    <filter-class>net.viralpatel.servlet.filter.SessionFilter</filter-class>
    <init-param>
        <param-name>avoid-urls</param-name>
        <param-value>welcome.jsp</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>SessionFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
 -->

<!--  needed for ContextLoaderListener 
  --> 
<context-param>
  <param-name>contextConfigLocation</param-name> 
  <param-value>classpath:beans.xml</param-value> 
  </context-param>
<!--  Bootstraps the root web application context before servlet initialization 
  --> 
<listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
  </listener>
<!--  The front controller of this Spring Web application, responsible for handling all application requests 
  --> 
<servlet>
  <servlet-name>dispatcher</servlet-name> 
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> 
  <load-on-startup>1</load-on-startup> 
  </servlet>
<!--  Map all requests to the DispatcherServlet for handling g
  --> 
<servlet-mapping>
  <servlet-name>dispatcher</servlet-name> 
  <url-pattern>*.do</url-pattern> 
  </servlet-mapping>
  
  <error-page>
  	<error-code>400</error-code>
  	<location>/error/error400.html</location>
  </error-page>
<!--   <error-page>
  <error-code>500</error-code>
  	<location>/error/error500.html</location>
  </error-page>
  <error-page>
  <error-code>404</error-code>
  	<location>/error/error404.html</location>
  </error-page> -->
  
  <welcome-file-list>
    <welcome-file>welcome.jsp</welcome-file>
  </welcome-file-list>
</web-app>
